@import colors
@import prefixes
body
    margin 0px
    font-family arial, sans-serif
    overflow hidden
    path
        &:hover
            opacity 0.7
    #centerText
        opacity 1
        transition opacity 0.2s
        &.disabled
            display none
        position absolute
        overflow hidden
        border-radius 50%
        font-size 1.5em
        text-align center
        #content
            position absolute
            padding 0px 50px
            left 0px
            max-height 142px
            overflow hidden
            small
                display block
                clear both
                font-size 0.6em
                margin-top 10px
                position relative
        #valueContainer
            position absolute
            left 0px
            #value
                display block
                font-size 2.8em
                span
                    font-size 0.3em
                    display block
                    position absolute
                    text-align center
                    width 100%
                    top -20px

            #mld
                display block
    .tooltip
        display none
    &.zoomed
        #centerText
            opacity 0
        .tooltip
            display block
