@import colors
@import prefixes
body
    margin 0px
    font-family arial, sans-serif
    background #eee
    overflow hidden
    path
        &:hover
            opacity 0.7
    #centerText
        position absolute
        overflow hidden
        border-radius 50%
        font-size 1.5em
        text-align center
        #content
            position absolute
            padding 0px 50px
            left 0px
            max-height 142px
            overflow hidden
